#!/usr/bin/make -f

CFLAGS += -Wl,-z,defs,--as-needed

%:
	dh $@ --parallel --with=autoreconf

override_dh_installinit:
	dh_installinit --no-restart-on-upgrade

override_dh_install:
	dh_install --fail-missing

override_dh_strip:
	dh_strip --dbg-package=tone-generator-dbg


